@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: #FFFFFF;
    --foreground: #000000;
    --primary-background: #F5F6F7;
    --primary-foreground: #000000;
    --card-background: #fff1ed;
    --card-foreground: #e6521e;
  }
}

html {
  word-break: break-all;
}

body {
  margin: 0;
  background-color: var(--background);
}

/* 自定义工具类 */
@layer utilities {
  /* .text-balance {
    text-wrap: balance;
  } */

  .header-title {
    background: url('../../public/header.png') no-repeat top left;
    background-size: contain;
  }

  .notfound {
    background: url('../../public/NotFound.png') no-repeat top left;
    background-size: contain;
    background-position: center;
  }

  .ui-hr {
    @apply h-px block opacity-40 -mx-2.5 my-0 border-0;
    background: #e6521e;
    background: linear-gradient(
      to right,
      rgba(230, 82, 30, 0) 0%,
      rgba(230, 82, 30, 0.5) 10%,
      rgba(230, 82, 30, 0.8) 50%,
      rgba(230, 82, 30, 0.5) 90%,
      rgba(230, 82, 30, 0) 100%
    );
  }

  .collapseButton {
    color: rgb(0, 157, 255);
  }
}